@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;500&family=Roboto+Mono:wght@100;400;700&display=swap');


/* RESETEO  Y ESTILOS GENERALES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Roboto Mono', monospace;

    height: 100vh;
    background-color: #D1E6D6;
}

.footer {
    display: flex;
    justify-content: center;

    font-weight: bold;
    padding: 0.5em;
}

/* HTML: LOGIN INDEX*/
.main-index{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.btn a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#logo-sitio {
    margin-right: 3em;
}

#logo-sitio img{
    width: 100%;
}

@media(max-width:650px){
    #logo-sitio{
        margin-right: 0;
    }

    #logo-sitio img{
        width: 75%;
        margin-bottom: 2.5em;
    }

    .main-index{
        flex-direction: column;
    }
}


/* HTML: PRINCIPAL */
.navbar {
    padding: 0;
}

.navbar a{
    font-size: 1.2rem;
    font-weight: bold;
}


.jugadas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.juega-pc,
.juega-usuario {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.nombre-carta {
    width: 150px;
    height: 150px;
    border: solid black 1px;
    border-radius: 5px;
    background-color: #fafafa;
    margin: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-animation: rotate-center 0.8s ease-in-out both;
    animation: rotate-center 0.8s ease-in-out both;
}

.carta-usuario:hover {
    cursor: pointer;
    background-color: #fffab5;
}

.puntaje {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#texto-resultado {
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}

.titulo-resultado {
    margin-bottom: 1em;
}

.titulo-tabla {
    margin-bottom: 0.5em;
    width: 150px;
    color: #fafafa;
}

.resultado {
    margin: 0.5em;
}

/* FONDO CUANDO SE SELECCIONA UNA CARTA */
.cartaElegida {
    box-shadow: 2px 4px 4px 2px #858282;
    transform: scale(1.1);
}


/* HTML: LISTA */
.main-lista{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-usuarios{
    display: flex;
    justify-content: center;
}

#titulo-jugadores{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}


/* KEYFRAMES */
@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}